PORT=3000

# Option 1: use a single connection string (recommended for Railway)
DATABASE_URL=mysql://root:your_mysql_password@autorack.proxy.rlwy.net:19434/railway

# Option 2: use individual database variables
DB_HOST=autorack.proxy.rlwy.net
DB_PORT=19434
DB_USER=root
DB_PASSWORD=EYdlCCybqbTGGkyGtsBoXChXOMJvQOuy
DB_NAME=railway
